@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: iran;
    src: url(../font/IranianSans.ttf);
}

p,input,a,div,button,input,span{
    font-family: iran;
}